# ─── App ─────────────────────────────────────────────────────────────────────
PORT=3005
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000

# ─── Elasticsearch ────────────────────────────────────────────────────────────
ELASTICSEARCH_NODE=http://localhost:9200

# ─── RabbitMQ ────────────────────────────────────────────────────────────────
RABBITMQ_URL=amqp://localhost:5672

# ─── Product Service (fallback) ───────────────────────────────────────────────
PRODUCT_SERVICE_URL=http://localhost:3004
